# requirements.txt
fastapi
uvicorn[standard]
python-binance
pydantic[email]
python-dotenv
SQLAlchemy
colorama
python-multipart
python-jose[cryptography]
passlib[bcrypt]
email-validator 
kucoin-python
jsii
python-okx
pybit
